
<table class="{{table_class}}">
    <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    <tr v-bind:id="'task_' + task.pk" v-on:click="highlight" v-for="task in failedObjects">
        <td>[[ task.failure_time | formatDate ]]</td>
        <td>[[ task.task ]]</td>
        <td>[[ task.arguments ]]</td>
        <td>[[ task.content ]]</td>
        <td>[[ task.exception ]]</td>
    </tr>
</table>
<ul class="paginator">
    <li><button class="page" v-bind:disabled="failedPreviousDisabled()" v-on:click="prevFailedPage"><</button></li>
    <li>Showing page [[ failedPage ]] of [[ failedPageCount ]]</li>
    <li><button class="page" v-bind:disabled="failedNextDisabled()" v-on:click="bumpFailedPage">></button></li>
</ul>

