{% extends "carrot/base_site.html" %}

{% block content %}
    <div v-on:click='hideOverlay' v-if="highlightMode" id="overlay"></div>
    <div class="task-view">
        <task-detail v-if="selectedObject" v-bind:task="selectedObject" v-bind:log-level="logLevel"></task-detail>
        <select v-model="logLevel">

        </select>
    </div>
    {% el "h2" "Queued tasks" %}
    {% ot "div" class="container" %}
        {% task_queue %}
    {% ct "div" %}
    {% el "h2" "Failed tasks" %}
    {% ot "div" class="container" %}
        {% failed_task_queue %}
    {% ct "div" %}
    {% el "h2" "Completed tasks" %}
    {% ot "div" class="container" %}
        {% completed_task_queue %}
    {% ct "div" %}
    {% el "h2" "Scheduled tasks" %}
    {% ot "div" class="container" %}
        {% scheduled_task_queue %}
    {% ct "div" %}
{% endblock %}