
<table class="{{table_class}}">
    <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    <tr v-bind:id="'task_' + task.pk" v-on:click="highlight" v-for="task in publishedObjects">
        <td>[[ task.priority ]]</td>
        <td>[[ task.task ]]</td>
        <td>[[ task.arguments ]]</td>
        <td>[[ task.content ]]</td>
    </tr>
</table>
<ul class="paginator">
    <li><button class="page" v-bind:disabled="publishedPreviousDisabled()" v-on:click="prevPublishedPage"><</button></li>
    <li>Showing page [[ publishedPage ]] of [[ publishedPageCount ]]</li>
    <li><button class="page" v-bind:disabled="publishedNextDisabled()" v-on:click="bumpPublishedPage">></button></li>
</ul>

