
<table class="{{table_class}}">
    <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    <tr v-for="task in scheduledObjects">
        <td>[[ task.task ]]</td>
        <td>[[ task.interval_display ]]</td>
        <td>[[ task.active ]]</td>
    </tr>
</table>
<ul class="paginator">
    <li><button class="page" v-bind:disabled="scheduledPreviousDisabled()" v-on:click="prevScheduledPage"><</button></li>
    <li>Showing page [[ scheduledPage ]] of [[ scheduledPageCount ]]</li>
    <li><button class="page" v-bind:disabled="scheduledNextDisabled()" v-on:click="bumpScheduledPage">></button></li>
</ul>

